<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CG-INSTALL</key>
	<dict>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(L)_json</key>
		<integer>76</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(L)_plist</key>
		<integer>88</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(R)_json</key>
		<integer>78</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(R)_plist</key>
		<integer>90</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(L)_json</key>
		<integer>77</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(L)_plist</key>
		<integer>89</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(R)_json</key>
		<integer>79</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(R)_plist</key>
		<integer>91</integer>
		<key>ALS_ID_check_json</key>
		<integer>54</integer>
		<key>ALS_ID_check_plist</key>
		<integer>64</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_High_json</key>
		<integer>21</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_High_plist</key>
		<integer>31</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Init_json</key>
		<integer>20</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Init_plist</key>
		<integer>30</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Low_json</key>
		<integer>22</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Low_plist</key>
		<integer>32</integer>
		<key>AOP_TO_MESA_MENU_CONN_GPIO_json</key>
		<integer>23</integer>
		<key>AOP_TO_MESA_MENU_CONN_GPIO_plist</key>
		<integer>33</integer>
		<key>AmIOK_plist</key>
		<integer>96</integer>
		<key>BOTSPK_VERS_json</key>
		<integer>55</integer>
		<key>BOTSPK_VERS_plist</key>
		<integer>65</integer>
		<key>Back_Camera_SN_json</key>
		<integer>64</integer>
		<key>Back_Camera_SN_plist</key>
		<integer>75</integer>
		<key>Bank_A_json</key>
		<integer>40</integer>
		<key>Bank_A_plist</key>
		<integer>50</integer>
		<key>Bank_B_json</key>
		<integer>41</integer>
		<key>Bank_B_plist</key>
		<integer>51</integer>
		<key>Battery_Average_Power_json</key>
		<integer>72</integer>
		<key>Battery_Average_Power_plist</key>
		<integer>84</integer>
		<key>Battery_Charge_Percentage_json</key>
		<integer>73</integer>
		<key>Battery_Charge_Percentage_plist</key>
		<integer>85</integer>
		<key>Battery_Current_json</key>
		<integer>71</integer>
		<key>Battery_Current_plist</key>
		<integer>83</integer>
		<key>Battery_Remaining_Capacity_json</key>
		<integer>74</integer>
		<key>Battery_Remaining_Capacity_plist</key>
		<integer>86</integer>
		<key>Battery_Voltage_json</key>
		<integer>70</integer>
		<key>Battery_Voltage_plist</key>
		<integer>82</integer>
		<key>Board_ID_json</key>
		<integer>1</integer>
		<key>Board_ID_plist</key>
		<integer>5</integer>
		<key>BotSpeaker_Impedance_Current_json</key>
		<integer>57</integer>
		<key>BotSpeaker_Impedance_Current_plist</key>
		<integer>67</integer>
		<key>BotSpeaker_Impedance_RDC_json</key>
		<integer>58</integer>
		<key>BotSpeaker_Impedance_RDC_plist</key>
		<integer>68</integer>
		<key>BotSpeaker_Impedance_Voltage_json</key>
		<integer>56</integer>
		<key>BotSpeaker_Impedance_Voltage_plist</key>
		<integer>66</integer>
		<key>Burn_SN_json</key>
		<integer>5</integer>
		<key>Burn_SN_plist</key>
		<integer>10</integer>
		<key>CG_Install_CB_Check_json</key>
		<integer>85</integer>
		<key>CG_Install_CB_Check_plist</key>
		<integer>98</integer>
		<key>CG_Vendor_json</key>
		<integer>8</integer>
		<key>CG_Vendor_plist</key>
		<integer>16</integer>
		<key>Camera_Front_ID_json</key>
		<integer>61</integer>
		<key>Camera_Front_ID_plist</key>
		<integer>71</integer>
		<key>Camera_Front_Stream_json</key>
		<integer>62</integer>
		<key>Camera_Front_Stream_plist</key>
		<integer>72</integer>
		<key>Check_CG_Color_and_HSG_Color_json</key>
		<integer>10</integer>
		<key>Check_CG_Color_and_HSG_Color_plist</key>
		<integer>18</integer>
		<key>Check_DUT_Mode_plist</key>
		<integer>3</integer>
		<key>Check_UOP_plist</key>
		<integer>13</integer>
		<key>Compare_ARC_Module_SN_With_SFC_json</key>
		<integer>66</integer>
		<key>Compare_ARC_Module_SN_With_SFC_plist</key>
		<integer>78</integer>
		<key>Compare_Battery_SN_With_SFC_json</key>
		<integer>68</integer>
		<key>Compare_Battery_SN_With_SFC_plist</key>
		<integer>80</integer>
		<key>Compare_Front_Camera_SN_With_SFC_plist</key>
		<integer>74</integer>
		<key>Compare_Rear_Camera_SN_With_SFC_plist</key>
		<integer>77</integer>
		<key>Compare_X582_Module_SN_with_SFC_plist</key>
		<integer>29</integer>
		<key>Convoy_Device_ID_Check_json</key>
		<integer>35</integer>
		<key>Convoy_Device_ID_Check_plist</key>
		<integer>45</integer>
		<key>Convoy_EXT_Capacitance_check_current_json</key>
		<integer>38</integer>
		<key>Convoy_EXT_Capacitance_check_current_plist</key>
		<integer>48</integer>
		<key>Convoy_ExtCapacitance_json</key>
		<integer>36</integer>
		<key>Convoy_ExtCapacitance_plist</key>
		<integer>46</integer>
		<key>Convoy_IntCapacitance_json</key>
		<integer>37</integer>
		<key>Convoy_IntCapacitance_plist</key>
		<integer>47</integer>
		<key>Delete_PSCl_json</key>
		<integer>82</integer>
		<key>Delete_PSCl_plist</key>
		<integer>94</integer>
		<key>Delete_TCal_json</key>
		<integer>83</integer>
		<key>Delete_TCal_plist</key>
		<integer>95</integer>
		<key>Diag_Version_json</key>
		<integer>6</integer>
		<key>Diag_Version_plist</key>
		<integer>12</integer>
		<key>ECID_json</key>
		<integer>0</integer>
		<key>ECID_plist</key>
		<integer>4</integer>
		<key>FOS_Count_json</key>
		<integer>47</integer>
		<key>FOS_Count_plist</key>
		<integer>57</integer>
		<key>FOS_Val_json</key>
		<integer>44</integer>
		<key>FOS_Val_plist</key>
		<integer>54</integer>
		<key>Find_Camera_Front_json</key>
		<integer>59</integer>
		<key>Find_Camera_Front_plist</key>
		<integer>69</integer>
		<key>Fixture_SN_plist</key>
		<integer>2</integer>
		<key>Flick_Count_json</key>
		<integer>45</integer>
		<key>Flick_Count_plist</key>
		<integer>55</integer>
		<key>Flick_Val_json</key>
		<integer>42</integer>
		<key>Flick_Val_plist</key>
		<integer>52</integer>
		<key>Front_Camera_SN_json</key>
		<integer>63</integer>
		<key>Front_Camera_SN_plist</key>
		<integer>73</integer>
		<key>Get_FG_SN_from_SFC_plist</key>
		<integer>7</integer>
		<key>Get_Link_Data_via_ISN_From_SFC_plist</key>
		<integer>21</integer>
		<key>I2C_Isolator_Disable_json</key>
		<integer>80</integer>
		<key>I2C_Isolator_Disable_plist</key>
		<integer>92</integer>
		<key>I2C_Isolator_Enable_json</key>
		<integer>13</integer>
		<key>I2C_Isolator_Enable_plist</key>
		<integer>22</integer>
		<key>Initialise_Fixture_plist</key>
		<integer>1</integer>
		<key>Lifetime_Max_Temperature_json</key>
		<integer>69</integer>
		<key>Lifetime_Max_Temperature_plist</key>
		<integer>81</integer>
		<key>Link_CG_SN_json</key>
		<integer>12</integer>
		<key>Link_CG_SN_plist</key>
		<integer>20</integer>
		<key>Load_Grape_Firmware_json</key>
		<integer>50</integer>
		<key>Load_Grape_Firmware_plist</key>
		<integer>60</integer>
		<key>Load_Touch_Firmware_json</key>
		<integer>67</integer>
		<key>Load_Touch_Firmware_plist</key>
		<integer>79</integer>
		<key>Load_X582_Firmware_json</key>
		<integer>18</integer>
		<key>Load_X582_Firmware_plist</key>
		<integer>27</integer>
		<key>MESA_I2C_READ_THROUGH_AOP_json</key>
		<integer>24</integer>
		<key>MESA_I2C_READ_THROUGH_AOP_plist</key>
		<integer>34</integer>
		<key>MIC1_Temp_Sensor_Exist_Check_json</key>
		<integer>25</integer>
		<key>MIC1_Temp_Sensor_Exist_Check_plist</key>
		<integer>35</integer>
		<key>MIC1_Temperature_json</key>
		<integer>29</integer>
		<key>MIC1_Temperature_plist</key>
		<integer>39</integer>
		<key>MIC1_Vendor_Check_json</key>
		<integer>28</integer>
		<key>MIC1_Vendor_Check_plist</key>
		<integer>38</integer>
		<key>MIC1_dock_vendor_id1_json</key>
		<integer>26</integer>
		<key>MIC1_dock_vendor_id1_plist</key>
		<integer>36</integer>
		<key>MIC1_dock_vendor_id2_json</key>
		<integer>27</integer>
		<key>MIC1_dock_vendor_id2_plist</key>
		<integer>37</integer>
		<key>MIC2_Temp_Sensor_Exist_Check_json</key>
		<integer>30</integer>
		<key>MIC2_Temp_Sensor_Exist_Check_plist</key>
		<integer>40</integer>
		<key>MIC2_Temperature_json</key>
		<integer>34</integer>
		<key>MIC2_Temperature_plist</key>
		<integer>44</integer>
		<key>MIC2_Vendor_Check_json</key>
		<integer>33</integer>
		<key>MIC2_Vendor_Check_plist</key>
		<integer>43</integer>
		<key>MIC2_rear_vendor_id1_json</key>
		<integer>31</integer>
		<key>MIC2_rear_vendor_id1_plist</key>
		<integer>41</integer>
		<key>MIC2_rear_vendor_id2_json</key>
		<integer>32</integer>
		<key>MIC2_rear_vendor_id2_plist</key>
		<integer>42</integer>
		<key>Muon_Fault_Register_json</key>
		<integer>39</integer>
		<key>Muon_Fault_Register_plist</key>
		<integer>49</integer>
		<key>NetWork_CB:_Check_Previous_Station_CBs_plist</key>
		<integer>14</integer>
		<key>Orb_Value_Check_json</key>
		<integer>51</integer>
		<key>Orb_Value_Check_plist</key>
		<integer>61</integer>
		<key>PREVIOUS_FG_SN_json</key>
		<integer>4</integer>
		<key>PREVIOUS_FG_SN_plist</key>
		<integer>9</integer>
		<key>Pick_Camera_Front_json</key>
		<integer>60</integer>
		<key>Pick_Camera_Front_plist</key>
		<integer>70</integer>
		<key>Pre_Link_CG_SN_json</key>
		<integer>11</integer>
		<key>Pre_Link_CG_SN_plist</key>
		<integer>19</integer>
		<key>Prox_Connect_Test_json</key>
		<integer>81</integer>
		<key>Prox_Connect_Test_plist</key>
		<integer>93</integer>
		<key>RCAM_BlackLevelOffset_Value_json</key>
		<integer>65</integer>
		<key>RCAM_BlackLevelOffset_Value_plist</key>
		<integer>76</integer>
		<key>RGBW_1_json</key>
		<integer>48</integer>
		<key>RGBW_1_plist</key>
		<integer>58</integer>
		<key>RGBW_2_json</key>
		<integer>49</integer>
		<key>RGBW_2_plist</key>
		<integer>59</integer>
		<key>Read_MLB_SN_json</key>
		<integer>2</integer>
		<key>Read_MLB_SN_plist</key>
		<integer>6</integer>
		<key>Read_Panel_ID_json</key>
		<integer>52</integer>
		<key>Read_Panel_ID_plist</key>
		<integer>62</integer>
		<key>Read_Photon_ID_json</key>
		<integer>53</integer>
		<key>Read_Photon_ID_plist</key>
		<integer>63</integer>
		<key>START_TEST_CG-INSTALL_plist</key>
		<integer>0</integer>
		<key>Slot_plist</key>
		<integer>11</integer>
		<key>TOPSPK_VERS_json</key>
		<integer>75</integer>
		<key>TOPSPK_VERS_plist</key>
		<integer>87</integer>
		<key>Turtle_Value_Reading_json</key>
		<integer>14</integer>
		<key>Turtle_Value_Reading_plist</key>
		<integer>23</integer>
		<key>UNIT_SHUTDOWN_plist</key>
		<integer>99</integer>
		<key>Upload_Orb_Flex_SN_json</key>
		<integer>9</integer>
		<key>Upload_Orb_Flex_SN_plist</key>
		<integer>17</integer>
		<key>VSFOM_Count_json</key>
		<integer>46</integer>
		<key>VSFOM_Count_plist</key>
		<integer>56</integer>
		<key>VSFOM_Val_json</key>
		<integer>43</integer>
		<key>VSFOM_Val_plist</key>
		<integer>53</integer>
		<key>Write_CB_Incomplete_json</key>
		<integer>7</integer>
		<key>Write_CB_Incomplete_plist</key>
		<integer>15</integer>
		<key>Write_CG_Install_CB_json</key>
		<integer>84</integer>
		<key>Write_CG_Install_CB_plist</key>
		<integer>97</integer>
		<key>Write_GMT_Date_and_Time_json</key>
		<integer>3</integer>
		<key>Write_GMT_Date_and_Time_plist</key>
		<integer>8</integer>
		<key>X582_Module_SN_From_diag_json</key>
		<integer>19</integer>
		<key>X582_Module_SN_From_diag_plist</key>
		<integer>28</integer>
		<key>X582_Powered_Status_json</key>
		<integer>16</integer>
		<key>X582_Powered_Status_plist</key>
		<integer>25</integer>
		<key>X582_Provisioning_Status_json</key>
		<integer>17</integer>
		<key>X582_Provisioning_Status_plist</key>
		<integer>26</integer>
		<key>X582_Serial_Number_json</key>
		<integer>15</integer>
		<key>X582_Serial_Number_plist</key>
		<integer>24</integer>
	</dict>
	<key>QT0</key>
	<dict>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(L)_json</key>
		<integer>77</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(L)_plist</key>
		<integer>89</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(R)_json</key>
		<integer>79</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Frequency(R)_plist</key>
		<integer>91</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(L)_json</key>
		<integer>78</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(L)_plist</key>
		<integer>90</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(R)_json</key>
		<integer>80</integer>
		<key>3K_Tone_TopSpeaker_to_MIC3_Max_Power(R)_plist</key>
		<integer>92</integer>
		<key>ALS_ID_check_json</key>
		<integer>55</integer>
		<key>ALS_ID_check_plist</key>
		<integer>65</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_High_json</key>
		<integer>22</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_High_plist</key>
		<integer>32</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Init_json</key>
		<integer>21</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Init_plist</key>
		<integer>31</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Low_json</key>
		<integer>23</integer>
		<key>AOP_GPIO_MESA_TO_AOP_FDINT_Low_plist</key>
		<integer>33</integer>
		<key>AOP_TO_MESA_MENU_CONN_GPIO_json</key>
		<integer>24</integer>
		<key>AOP_TO_MESA_MENU_CONN_GPIO_plist</key>
		<integer>34</integer>
		<key>AmIOK_plist</key>
		<integer>97</integer>
		<key>BOTSPK_VERS_json</key>
		<integer>56</integer>
		<key>BOTSPK_VERS_plist</key>
		<integer>66</integer>
		<key>Back_Camera_SN_json</key>
		<integer>65</integer>
		<key>Back_Camera_SN_plist</key>
		<integer>76</integer>
		<key>Bank_A_json</key>
		<integer>41</integer>
		<key>Bank_A_plist</key>
		<integer>51</integer>
		<key>Bank_B_json</key>
		<integer>42</integer>
		<key>Bank_B_plist</key>
		<integer>52</integer>
		<key>Battery_Average_Power_json</key>
		<integer>73</integer>
		<key>Battery_Average_Power_plist</key>
		<integer>85</integer>
		<key>Battery_Charge_Percentage_json</key>
		<integer>74</integer>
		<key>Battery_Charge_Percentage_plist</key>
		<integer>86</integer>
		<key>Battery_Current_json</key>
		<integer>72</integer>
		<key>Battery_Current_plist</key>
		<integer>84</integer>
		<key>Battery_Remaining_Capacity_json</key>
		<integer>75</integer>
		<key>Battery_Remaining_Capacity_plist</key>
		<integer>87</integer>
		<key>Battery_Voltage_json</key>
		<integer>71</integer>
		<key>Battery_Voltage_plist</key>
		<integer>83</integer>
		<key>Board_ID_json</key>
		<integer>1</integer>
		<key>Board_ID_plist</key>
		<integer>5</integer>
		<key>BotSpeaker_Impedance_Current_json</key>
		<integer>58</integer>
		<key>BotSpeaker_Impedance_Current_plist</key>
		<integer>68</integer>
		<key>BotSpeaker_Impedance_RDC_json</key>
		<integer>59</integer>
		<key>BotSpeaker_Impedance_RDC_plist</key>
		<integer>69</integer>
		<key>BotSpeaker_Impedance_Voltage_json</key>
		<integer>57</integer>
		<key>BotSpeaker_Impedance_Voltage_plist</key>
		<integer>67</integer>
		<key>Burn_SN_json</key>
		<integer>5</integer>
		<key>Burn_SN_plist</key>
		<integer>10</integer>
		<key>CG_Install_CB_Check_json</key>
		<integer>86</integer>
		<key>CG_Install_CB_Check_plist</key>
		<integer>99</integer>
		<key>CG_Pattern_Test_json</key>
		<integer>8</integer>
		<key>CG_Pattern_Test_plist</key>
		<integer>16</integer>
		<key>CG_Vendor_json</key>
		<integer>9</integer>
		<key>CG_Vendor_plist</key>
		<integer>17</integer>
		<key>Camera_Front_ID_json</key>
		<integer>62</integer>
		<key>Camera_Front_ID_plist</key>
		<integer>72</integer>
		<key>Camera_Front_Stream_json</key>
		<integer>63</integer>
		<key>Camera_Front_Stream_plist</key>
		<integer>73</integer>
		<key>Check_CG_Color_and_HSG_Color_json</key>
		<integer>11</integer>
		<key>Check_CG_Color_and_HSG_Color_plist</key>
		<integer>19</integer>
		<key>Check_DUT_Mode_plist</key>
		<integer>3</integer>
		<key>Check_UOP_plist</key>
		<integer>13</integer>
		<key>Compare_ARC_Module_SN_With_SFC_json</key>
		<integer>67</integer>
		<key>Compare_ARC_Module_SN_With_SFC_plist</key>
		<integer>79</integer>
		<key>Compare_Battery_SN_With_SFC_json</key>
		<integer>69</integer>
		<key>Compare_Battery_SN_With_SFC_plist</key>
		<integer>81</integer>
		<key>Compare_Front_Camera_SN_With_SFC_plist</key>
		<integer>75</integer>
		<key>Compare_Rear_Camera_SN_With_SFC_plist</key>
		<integer>78</integer>
		<key>Compare_X582_Module_SN_with_SFC_plist</key>
		<integer>30</integer>
		<key>Convoy_Device_ID_Check_json</key>
		<integer>36</integer>
		<key>Convoy_Device_ID_Check_plist</key>
		<integer>46</integer>
		<key>Convoy_EXT_Capacitance_check_current_json</key>
		<integer>39</integer>
		<key>Convoy_EXT_Capacitance_check_current_plist</key>
		<integer>49</integer>
		<key>Convoy_ExtCapacitance_json</key>
		<integer>37</integer>
		<key>Convoy_ExtCapacitance_plist</key>
		<integer>47</integer>
		<key>Convoy_IntCapacitance_json</key>
		<integer>38</integer>
		<key>Convoy_IntCapacitance_plist</key>
		<integer>48</integer>
		<key>Delete_PSCl_json</key>
		<integer>83</integer>
		<key>Delete_PSCl_plist</key>
		<integer>95</integer>
		<key>Delete_TCal_json</key>
		<integer>84</integer>
		<key>Delete_TCal_plist</key>
		<integer>96</integer>
		<key>Diag_Version_json</key>
		<integer>6</integer>
		<key>Diag_Version_plist</key>
		<integer>12</integer>
		<key>ECID_json</key>
		<integer>0</integer>
		<key>ECID_plist</key>
		<integer>4</integer>
		<key>FOS_Count_json</key>
		<integer>48</integer>
		<key>FOS_Count_plist</key>
		<integer>58</integer>
		<key>FOS_Val_json</key>
		<integer>45</integer>
		<key>FOS_Val_plist</key>
		<integer>55</integer>
		<key>Find_Camera_Front_json</key>
		<integer>60</integer>
		<key>Find_Camera_Front_plist</key>
		<integer>70</integer>
		<key>Fixture_SN_plist</key>
		<integer>2</integer>
		<key>Flick_Count_json</key>
		<integer>46</integer>
		<key>Flick_Count_plist</key>
		<integer>56</integer>
		<key>Flick_Val_json</key>
		<integer>43</integer>
		<key>Flick_Val_plist</key>
		<integer>53</integer>
		<key>Front_Camera_SN_json</key>
		<integer>64</integer>
		<key>Front_Camera_SN_plist</key>
		<integer>74</integer>
		<key>Get_FG_SN_from_SFC_plist</key>
		<integer>7</integer>
		<key>Get_Link_Data_via_ISN_From_SFC_plist</key>
		<integer>22</integer>
		<key>I2C_Isolator_Disable_json</key>
		<integer>81</integer>
		<key>I2C_Isolator_Disable_plist</key>
		<integer>93</integer>
		<key>I2C_Isolator_Enable_json</key>
		<integer>14</integer>
		<key>I2C_Isolator_Enable_plist</key>
		<integer>23</integer>
		<key>Initialise_Fixture_plist</key>
		<integer>1</integer>
		<key>Lifetime_Max_Temperature_json</key>
		<integer>70</integer>
		<key>Lifetime_Max_Temperature_plist</key>
		<integer>82</integer>
		<key>Link_CG_SN_json</key>
		<integer>13</integer>
		<key>Link_CG_SN_plist</key>
		<integer>21</integer>
		<key>Load_Grape_Firmware_json</key>
		<integer>51</integer>
		<key>Load_Grape_Firmware_plist</key>
		<integer>61</integer>
		<key>Load_Touch_Firmware_json</key>
		<integer>68</integer>
		<key>Load_Touch_Firmware_plist</key>
		<integer>80</integer>
		<key>Load_X582_Firmware_json</key>
		<integer>19</integer>
		<key>Load_X582_Firmware_plist</key>
		<integer>28</integer>
		<key>MESA_I2C_READ_THROUGH_AOP_json</key>
		<integer>25</integer>
		<key>MESA_I2C_READ_THROUGH_AOP_plist</key>
		<integer>35</integer>
		<key>MIC1_Temp_Sensor_Exist_Check_json</key>
		<integer>26</integer>
		<key>MIC1_Temp_Sensor_Exist_Check_plist</key>
		<integer>36</integer>
		<key>MIC1_Temperature_json</key>
		<integer>30</integer>
		<key>MIC1_Temperature_plist</key>
		<integer>40</integer>
		<key>MIC1_Vendor_Check_json</key>
		<integer>29</integer>
		<key>MIC1_Vendor_Check_plist</key>
		<integer>39</integer>
		<key>MIC1_dock_vendor_id1_json</key>
		<integer>27</integer>
		<key>MIC1_dock_vendor_id1_plist</key>
		<integer>37</integer>
		<key>MIC1_dock_vendor_id2_json</key>
		<integer>28</integer>
		<key>MIC1_dock_vendor_id2_plist</key>
		<integer>38</integer>
		<key>MIC2_Temp_Sensor_Exist_Check_json</key>
		<integer>31</integer>
		<key>MIC2_Temp_Sensor_Exist_Check_plist</key>
		<integer>41</integer>
		<key>MIC2_Temperature_json</key>
		<integer>35</integer>
		<key>MIC2_Temperature_plist</key>
		<integer>45</integer>
		<key>MIC2_Vendor_Check_json</key>
		<integer>34</integer>
		<key>MIC2_Vendor_Check_plist</key>
		<integer>44</integer>
		<key>MIC2_rear_vendor_id1_json</key>
		<integer>32</integer>
		<key>MIC2_rear_vendor_id1_plist</key>
		<integer>42</integer>
		<key>MIC2_rear_vendor_id2_json</key>
		<integer>33</integer>
		<key>MIC2_rear_vendor_id2_plist</key>
		<integer>43</integer>
		<key>Muon_Fault_Register_json</key>
		<integer>40</integer>
		<key>Muon_Fault_Register_plist</key>
		<integer>50</integer>
		<key>NetWork_CB:_Check_Previous_Station_CBs_plist</key>
		<integer>14</integer>
		<key>Orb_Value_Check_json</key>
		<integer>52</integer>
		<key>Orb_Value_Check_plist</key>
		<integer>62</integer>
		<key>PREVIOUS_FG_SN_json</key>
		<integer>4</integer>
		<key>PREVIOUS_FG_SN_plist</key>
		<integer>9</integer>
		<key>Pick_Camera_Front_json</key>
		<integer>61</integer>
		<key>Pick_Camera_Front_plist</key>
		<integer>71</integer>
		<key>Pre_Link_CG_SN_json</key>
		<integer>12</integer>
		<key>Pre_Link_CG_SN_plist</key>
		<integer>20</integer>
		<key>Prox_Connect_Test_json</key>
		<integer>82</integer>
		<key>Prox_Connect_Test_plist</key>
		<integer>94</integer>
		<key>RCAM_BlackLevelOffset_Value_json</key>
		<integer>66</integer>
		<key>RCAM_BlackLevelOffset_Value_plist</key>
		<integer>77</integer>
		<key>RGBW_1_json</key>
		<integer>49</integer>
		<key>RGBW_1_plist</key>
		<integer>59</integer>
		<key>RGBW_2_json</key>
		<integer>50</integer>
		<key>RGBW_2_plist</key>
		<integer>60</integer>
		<key>Read_MLB_SN_json</key>
		<integer>2</integer>
		<key>Read_MLB_SN_plist</key>
		<integer>6</integer>
		<key>Read_Panel_ID_json</key>
		<integer>53</integer>
		<key>Read_Panel_ID_plist</key>
		<integer>63</integer>
		<key>Read_Photon_ID_json</key>
		<integer>54</integer>
		<key>Read_Photon_ID_plist</key>
		<integer>64</integer>
		<key>START_TEST_CG-INSTALL_plist</key>
		<integer>0</integer>
		<key>Slot_plist</key>
		<integer>11</integer>
		<key>TOPSPK_VERS_json</key>
		<integer>76</integer>
		<key>TOPSPK_VERS_plist</key>
		<integer>88</integer>
		<key>Turtle_Value_Reading_json</key>
		<integer>15</integer>
		<key>Turtle_Value_Reading_plist</key>
		<integer>24</integer>
		<key>UNIT_SHUTDOWN_plist</key>
		<integer>100</integer>
		<key>Upload_Orb_Flex_SN_json</key>
		<integer>10</integer>
		<key>Upload_Orb_Flex_SN_plist</key>
		<integer>18</integer>
		<key>VSFOM_Count_json</key>
		<integer>47</integer>
		<key>VSFOM_Count_plist</key>
		<integer>57</integer>
		<key>VSFOM_Val_json</key>
		<integer>44</integer>
		<key>VSFOM_Val_plist</key>
		<integer>54</integer>
		<key>Write_CB_Incomplete_json</key>
		<integer>7</integer>
		<key>Write_CB_Incomplete_plist</key>
		<integer>15</integer>
		<key>Write_CG_Install_CB_json</key>
		<integer>85</integer>
		<key>Write_CG_Install_CB_plist</key>
		<integer>98</integer>
		<key>Write_GMT_Date_and_Time_json</key>
		<integer>3</integer>
		<key>Write_GMT_Date_and_Time_plist</key>
		<integer>8</integer>
		<key>X582_Module_SN_From_diag_json</key>
		<integer>20</integer>
		<key>X582_Module_SN_From_diag_plist</key>
		<integer>29</integer>
		<key>X582_Powered_Status_json</key>
		<integer>17</integer>
		<key>X582_Powered_Status_plist</key>
		<integer>26</integer>
		<key>X582_Provisioning_Status_json</key>
		<integer>18</integer>
		<key>X582_Provisioning_Status_plist</key>
		<integer>27</integer>
		<key>X582_Serial_Number_json</key>
		<integer>16</integer>
		<key>X582_Serial_Number_plist</key>
		<integer>25</integer>
	</dict>
</dict>
</plist>
